.outer {
  /* border: 2px solid red; */
}
.outer h1 {
  /* border: 1px solid red; */
  padding: 1em;
}

.outer svg {
  width: 2em;
  height: 2em;
}

.outer section {
  /* border: 1px solid blue; */
  padding: 2em 0;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.outer button {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background: none;
  text-decoration: underline;
  background-color: rgb(233, 233, 233);
}

.outer button:active {
  background-color: rgb(62, 62, 62);
  color: white;
}

.card {
  border: 1px solid gray;
  border-radius: 1em;
  -webkit-box-shadow: 2px 2px 26px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 26px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 26px -10px rgba(0, 0, 0, 0.75);
  min-width: 300px;
  max-width: min(40%, 400px);
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.header {
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.faqs,
.questions {
  flex-direction: column;
}

.faq {
  width: max(300px, 80vw);
  max-width: 600px;
}
